<div class="container-fluid" style="background-color: var(--bodyColor);">
<div class="container rounded  px-4 shadow bg-body-tertiary mb-4" style="background-color: var(--WhiteColor);">
    <div class="row">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1 class="my-3 text-primary "><i class="fa-solid fa-bell position-relative"><span class="position-absolute badge rounded-pill bg-danger " style="font-size: x-small;top: -10px;left: 20px;">
                    {{totalItems}} +
                  </span></i> Notification  </h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="d-flex gap-3 justify-content-end">
                    <button class="btn" style="color: var(--WhiteColor);background-color: var(--btndarkColor);">All</button>
                    <button class="btn btn-outline-primary" >Unread (3)</button>
                    <button class="btn" style="color: var(--WhiteColor);background-color: var(--TextColor);">Mark all as completed</button>
              </div>
            </div>
        </div>

        <section class="p-3 rounded">
            <div *ngFor="let Data of Shownotification | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems }" 
                 class="row mb-3 border rounded shadow-sm p-3 align-items-center"
             >
                
                <div class="col-12 col-md-9">
                    <!-- Activity Type and Message Styles Based on isSeen -->
                    <h6 class="m-0" [ngClass]="{'text-muted': Data.isSeen, 'fw-bold': !Data.isSeen}" 
                        style="color: var(--btndarkColor);">
                        {{ Data.activityType }}
                    </h6>
                    <p class="m-0 mt-1" [ngClass]="{'text-muted': Data.isSeen, 'text-dark fw-bold': !Data.isSeen}" style="font-size: 0.9rem;">
                        {{ Data.message }}
                    </p>
                </div>
                
                <div class="col-12 col-md-3 text-md-end mt-2 mt-md-0">
                    <div class="d-flex align-items-center justify-content-md-end text-muted" style="gap: 10px;">
                        <span class="d-flex align-items-center" style="font-size: 0.85rem;">
                            <i class="fa-solid fa-calendar-alt me-1 pe-1"></i>
                            {{ Data.createdAt }}
                        </span>
                        <span class="d-flex align-items-center" style="font-size: 0.85rem;">
                            {{ Data.createdAtTime }}
                        </span>
                    </div>
                </div>
            </div>
            
            <pagination-controls (pageChange)="onPageChange($event)" class="text-end" style="font-size: small;"></pagination-controls>
        </section>
        
    </div>
</div>
</div>