<div class="container-fluid" style="background-color: var(--bodyColor);">
<div class="container rounded  px-4 shadow bg-body-tertiary mb-4" style="background-color: var(--WhiteColor);">
    <div class="row">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1 class="my-3 text-primary "><i class="fa-solid fa-bell position-relative"><span class="position-absolute badge rounded-pill bg-danger " style="font-size: x-small;top: -10px;left: 20px;">
                    {{totalItems}} +
                  </span></i> Notification  </h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="d-flex gap-3 justify-content-end">
                    <button class="btn" style="color: var(--WhiteColor);background-color: var(--btndarkColor);">All</button>
                    <button class="btn btn-outline-primary" >Unread (3)</button>
                    <button class="btn" style="color: var(--WhiteColor);background-color: var(--TextColor);">Mark all as completed</button>
              </div>
            </div>
        </div>

      <section class="p-3 rounded">
        <div *ngFor="let Data of Shownotification | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems }" class="row mb-2 border d-flex align-items-center p-2">
                <div class="col-sm-12 col-md-3 col-lg-9">
                    <h6 class="m-0" style="color: var(--btndarkColor);">{{Data.activityType}}</h6>
                    <p  class="m-0" style="color: var(--te);">{{Data.message}}</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 text-end">
                    <label><i class="fa-solid fa-clock"></i> {{Data.createdAt | date}}</label>
                </div>
         </div>
         <pagination-controls (pageChange)="onPageChange($event)" class="text-end" style="font-size: small;"></pagination-controls>
        </section>
    </div>
</div>
</div>