<div class="container  shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
      <h3>Ask Your Question</h3>
      <form (ngSubmit)="AddForum()">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-3">
          <label for="title" class="col-form-label">Question</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="Forum.title" required />
        </div>
  
        <div class="col-sm-12 col-md-6 col-lg-12 mb-3">
          <label for="description" class="col-form-label">Question Description</label>
          <div class="editor">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="Forum.description" name="description"></ngx-editor>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary ">Submit</button>
      </form>
    </div>
  </div>

