<img src="../../assets/Innner banner.jpg" alt="" class="object-fit-cover img-fluid">
<div class="container-fluid">
    <div class="row">
    </div>
    <div class="container mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-10">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h6>All Questions</h6>
                    <p>1314   Questions</p>
                </div>
                <div>
                    <ul class="filterlist">
                        <li>Newest</li>
                        <li>Active</li>
                        <li>Answered</li>
                        <li>Unanswered</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex gap-2 mb-3">
                <img src="../../assets/Rohit sharma.jpg" class="rounded-circle" height="30px" width="30px" alt="">
                <div>
                    <h5 routerLink="/forum-details" style="cursor: pointer;">How to add two different log config files in startup.cs?</h5>
                    <span>@RohitSharma45 </span>, <span class="text-muted"> 5 hours ago</span>
                    <p>How to add two different log config files in startup.cs? We are trying to add two differentconfig files as shown in the below code in startup.cs file under ConfigureServices(). But, we are facing an ...</p>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-primary rounded-pill px-3 py-1">1 Answer</button>
                        <div class="d-flex gap-4">
                            <span><i class="fa-solid fa-thumbs-up"></i> 58</span>
                            <span><i class="fa-solid fa-thumbs-down"></i> 01</span>
                            <span><i class="fa-solid fa-message"></i> 89</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-2 mb-3">
                <img src="../../assets/Rohit sharma.jpg" class="rounded-circle" height="30px" width="30px" alt="">
                <div>
                    <h5 routerLink="/forum-details" style="cursor: pointer;">How to add two different log config files in startup.cs?</h5>
                    <span>@RohitSharma45 </span>, <span class="text-muted"> 5 hours ago</span>
                    <p>How to add two different log config files in startup.cs? We are trying to add two differentconfig files as shown in the below code in startup.cs file under ConfigureServices(). But, we are facing an ...</p>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-primary rounded-pill px-3 py-1">1 Answer</button>
                        <div class="d-flex gap-4">
                            <span><i class="fa-solid fa-thumbs-up"></i> 58</span>
                            <span><i class="fa-solid fa-thumbs-down"></i> 01</span>
                            <span><i class="fa-solid fa-message"></i> 89</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-2 mb-3">
                <img src="../../assets/Rohit sharma.jpg" class="rounded-circle" height="30px" width="30px" alt="">
                <div>
                    <h5 routerLink="/forum-details" style="cursor: pointer;">How to add two different log config files in startup.cs?</h5>
                    <span>@RohitSharma45 </span>, <span class="text-muted"> 5 hours ago</span>
                    <p>How to add two different log config files in startup.cs? We are trying to add two differentconfig files as shown in the below code in startup.cs file under ConfigureServices(). But, we are facing an ...</p>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-primary rounded-pill px-3 py-1">1 Answer</button>
                        <div class="d-flex gap-4">
                            <span><i class="fa-solid fa-thumbs-up"></i> 58</span>
                            <span><i class="fa-solid fa-thumbs-down"></i> 01</span>
                            <span><i class="fa-solid fa-message"></i> 89</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <h4 class="text-center">Tags</h4>
        </div>
    </div>
</div>
</div>


