small{
    font-size: small;  

    label{
        cursor: pointer;
    }
}
p{
    font-size: smaller;
}

label:hover{
    color: royalblue;
    text-decoration: underline;
}

.keywordheading{
    font-size: 18px;
    font-weight: 700;
}

.tagname{
    font-size: 16px;
}