<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-2">How to add two different log config files in startup.cs?</h1>
                <hr>
                <p>How to add two different log config files in startup.cs? We are trying to add two differentconfig files as shown in the below code in startup.cs file under ConfigureServices(). But, we are facing an ...</p>
            </div>
            <div>
                <h4>Answer</h4>
                <p>You can filter the items that are displayed in your dropdown using a pipe. The Pipe will filter the available selections in real time as the use types.

                    The pipe takes all the items and the typed Value of you input. for simplicity I chose strings. but it will work with objects as well.</p>
            </div>
        </div>
       
          <form [formGroup]="form">
			<div class="editor">
				<ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
				</ngx-editor-menu>
				<ngx-editor [editor]="editor" formControlName="editorContent">
				</ngx-editor>
			</div>
		</form>     
        <button class="btn btn-primary my-3">Post Your Answer</button>    
        
        
    </div>
</div>