<div *ngIf="Forum" class="container-fluid">
    <div class="container ">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-between mb-0">
                    <h1 class="mb-0">{{Forum.title}}</h1>
                    <button class="btn btn-primary" routerLink="/Add-Forum" >Ask Question?</button>
                </div>
                <small class="ms-2">Asking by <b>@{{Forum.creator_name}}</b>, Asked {{Forum.createdAt}}</small>
                <hr>
                <div [innerHtml]="Forum?.sanitizedDescription"></div>

            </div>
            <hr>
            <div *ngFor="let Answer of Forum.answer">
                <h4>Answer by <small style="font-size: small;">@{{Answer.author_name}}</small></h4>
                <div [innerHtml]="Answer?.sanitizedDescription"></div>
                <hr>
            </div>
        </div>
        
       
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h4 class="text-muted">Give Your Answer</h4>
          <form (ngSubmit)="PostAnswer()">
			<div class="editor">
				<ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
				</ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="ForumAnswer.content" name="content"></ngx-editor>
			</div>
            <button type="submit" class="btn btn-primary my-3">Post Your Answer</button>    
		</form>     
    </div>    
        
    </div>
</div>

 
 